{
  "all": true,
  "include": [
    "lib/**/*.{js,mjs,ts}",
    "*.{js,mjs}"
  ],
  "exclude": [
    "babel.config.js",
    ".eslintrc.js",
    "!lib/**/*.{spec,test,fixture}.ts",
    "!**/node_modules/**"
  ]
}
